.quoteBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 260px;
  padding: 20px;
  margin: 0;
  background: black;
}
.quoteText {
  color: white;
  font-size: clamp(18px, 4vw, 22px);
  quotes: "“" "”" "‘" "’";
}
.quoteText::before {
  content: open-quote;
}
.quoteText::after {
  content: close-quote;
}
.quoteText::before,
.quoteText::after {
  font-size: clamp(22px, 6vw, 28px);
  color: darkgray;
}
.quoteBlock figcaption {
  color: darkgray;
}

.quoteControls {
  background: white;
  border: 1px solid black;
}
@supports (display: grid) {
  .quoteControls {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 768px) {
    .quoteControls {
      grid-template-columns: 1fr 1fr;
    }
  }
}
.quoteControls button {
  border: 1px solid black;
  padding: 8px 16px;
  background: none;
  font-weight: 600;
}
.quoteControls button[aria-checked="true"] {
  background: blue;
  color: white;
}

.progressBar {
  background: blue;
}
